.THIS {
}
p.THIS{
    margin-bottom: 0 !important;
 }
 .THIS .HeaderCss
{
    
  background-color:#abe4f2 !important;   
}
 .THIS .FontText{
    text-align:center !important;
    font-weight:bold !important;
    font-size: 1.3em !important;
    
}