.THIS {
    font-family: 'LatoFont'  !important;
}
  
/* latin */
@font-face {
  font-family: 'LatoFont';
   
   src: url(/resource/LatoFont);
}
.THIS .h2Css
{
   color: #0C4569;
    font-size: 28px;
     font-family: 'LatoFont'  !important; 
    font-weight:bold !important;
}
.THIS .h3Css
{
   color: #2081BF!important;
    font-size: 22px;
     font-family: 'LatoFont'  !important; 
     font-weight:bold !important;
}
.THIS .h4Css
{
    color: #222222 !important;
    font-size: 20px !important;
     font-family: 'LatoFont'  !important; 
     font-weight:bold !important;
}