.THIS {
}

.THIS .defaultCls { 
    padding-left: 1rem !important;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    padding-right: 1rem !important;
    text-align: center !important;
    vertical-align: middle !important;
    background-color: #6C9F2E !important;
    border: 1px solid rgb(75, 202, 129) !important;
    color:white !important;
    float:right;
    font-size: 17px;
}

.THIS .alert{
    font-family: 'LatoFont'  !important; 
}

@font-face {
  font-family: 'LatoFont';   
   src: url(/resource/LatoFont);
}