.THIS {
    font-family: 'LatoFont'  ;
}
.THIS .customFont28{    
     
    font-size: 28px !important;
    font-weight:bold !important;
    color:#0C4569;
}
.THIS .customFont22{    
     
    font-size: 22px !important;
    font-weight:bold !important;
    color:#2081BF;
}
.THIS .customFont16{    
     
    font-size: 12px !important;
    font-weight:regular !important;
   
}
.THIS .customFont17{    
     
    font-size: 12px !important;
    font-weight:regular !important;
   color:white;
}
.THIS .customFontMargin{    
     
    font-size: 12px !important;
    font-weight:bold !important;
    color:antiquewhite;
}
.THIS .changeMe { 
    background-color:yellow; 
    width:200px; 
    
}
 .THIS .uiButton.invisible {
    display: none;
}
.THIS .slds-text-heading--medium {
    margin-bottom: 12px;
}
.THIS .loc {
text-align: center  !important;
vertical-align: middle !important;
line-height: 80px !important; 
    border:1px solid #d3d3d3 !important;
}
.THIS .fontsize {
clear: both;
    font-size: .82397rem;
    font-style: italic;
    line-height: 1.3;
    margin-bottom: 0;
    text-align: justify
}
.THIS .btn {
    -webkit-appearance: none;
    background-color: #562d84;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font: inherit;
    line-height: normal;
    margin: 0;
    overflow: visible;
    padding: .5rem;
    text-align: center;
    vertical-align: middle;
}


.THIS .margin-table-container{
    margin-left:2%;
    margin-right:2%;
}

.THIS .margin-table-head th{
    
      color: #2081bf;    background: #fff;
}


.THIS .tabhead{
       background:#2081bf  !important;
    text-align:left;
}



.THIS .highlighted_row{
    background-color:blue !important;
    color : white !important;
    
}

.THIS .tbody_td{
  text-align:left;
}

.THIS .senario_button{
    color:#fff !important;
    background-color:#6C9F2E !important;
}


.THIS .TextColor_red {
  color: red !important;  
}

.THIS .TextColor_green {
  color: green !important;  
}

.THIS .Notify_color{
    color:white !important;
}

.THIS .t{
    color:red;
}