.THIS {
}
.THIS .Length1 {
    width :223px !important;
}
 .THIS .IndexTextLength {
    width :70px !important;
}
.THIS .Length {
    width :260px!important;
}
.THIS .ddlLength {
    width :258px !important;
         /* width :285px !important;*/
   
}
.THIS .textLength {
    width :328px !important;
         /* width :285px !important;*/
   
}
.THIS .TransperantIconGreen svg{
    fill: rgb(0, 95, 178) !important;
    
}
.THIS .dropCSSwidth
{
     width :257px !important;
    
}


.THIS .DesTextLenght {
    width :299.53px !important;
}
.THIS .Disblck {
    Display :inline-grid!important;
   
}