.THIS {
     font-family: 'LatoFont' !important;
}

.THIS t{
    
    color: blue !important;
}
.THIS .table-body{
    color:#222222;
    font-size:16px;
    font-weight:regular !important; 
}

.THIS .header{
    font-family: 'LatoFont'  !important; 
    font-size: 22px !important;
    font-weight:bold !important;    
    color:#2081BF !important;
}

.THIS .fontSize{
     font-size:30px !important;
}
.THIS a:hover { 
    color:#2481BF !important;     
}
.THIS a:visited { 
    color: #0C4569 !important;
}
@font-face {
  font-family: 'LatoFont';   
   src: url(/resource/LatoFont);
}