.THIS {
    font-family: 'LatoFont'  ;
}  
 
.THIS.customFont{    
     
    font-size: 32px !important;
}
.THIS.customFont16{    
     
    font-size: 16px !important;
    font-weight:regular !important;
}
 
/* latin */
@font-face {
  font-family: 'LatoFont';
   
   src: url(/resource/LatoFont);
}
p.THIS{
    margin-bottom: 0 !important;
 }
 .THIS .HeaderCss
{
    
  background-color:#abe4f2 !important;   
}
 .THIS .FontText{
    text-align:center !important;
    font-weight:bold !important;
    font-size: 1.3em !important;
    
}
 /*daeef3
  */