.THIS .Step_color{
    color:green !Important;
}
.THIS .errorclr{
    color:red !Important;
}

.THIS .btnclr{
    color:white !Important;
    background:#337ab7 !Important;
}

.THIS .bordererr{
    
    border:1px solid red!important;
}

.THIS .tabdisplay{
    
    display:none;
}
.THIS .myTableTr{
  background-color: #2877bd !important;

}
.THIS .myTableTh{
  color: white !important;

}
.THIS .myFontAlign{
  text-align:right !important;

}

.THIS .myBtn{
    background-color:#2877bd !important;
}